<div class="container-fluid d-flex justify-content-center align-items-center p-2 " [style]="{minHeight:'300px'}">
    <div class="row">
        <div class="col-12">
            <div class=" card w-100" >
                <div class="card-tittle">
                    @if (errorMessage()) {
                        <div class="mt-3">
                            <div class="alert alert-primary" role="alert" >
                                {{errorMessage()}}
                            </div>
                        </div>
                        }
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="d-flex  flex-row-reverse w-100">
                            <a [routerLink]="['/newPass']">New password</a>
                        </div>                        
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">SiteName</th>
                                        <th scope="col">Username</th>
                                        <th scope="col">Password</th>
                                        <th scope="col">Notes</th>
                                        <th scope="col">Created at</th>
                                        <th scope="col" colspan="2">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (password of passwords(); track $index) {
                                        <tr>
                                            <td scope="row" class="text-center">{{password.id}}</td>
                                            <td class="text-center">{{password.name}}</td>
                                            <td class="text-center">
                                                <input readonly [type]="password.show ? 'text' :'password'" [value]="password.password"  >
                                                <button type="button" class="btn btn-info" (click)="password.show=!password.show" >{{password.show ? 'Hide' :'Show'}}</button>
                                            </td>
                                            <td class="text-center">{{password.id}}</td>
                                            <td class="text-center">{{password.notes}}</td>
                                            <td class="text-center"> {{ dateParse( password.created_at)}}</td>
                                            <td class="text-center"> 
                                                <a class="m-1" [routerLink]="['/edit',password.id]">
                                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                                </a>
                                                <a class="m-1">
                                                    <i class="fa fa-trash" aria-hidden="true"></i> 
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                   
                    
                </div>
            </div>
        </div>

    </div>

</div>
