<div class="container-fluid d-flex justify-content-center align-items-center p-2 " [style]="{minHeight:'300px'}">
    <div class="row">
        <div class="col-12">
            <div class=" card">
                <div class="card-body">
                    <form [formGroup]="loginForm" (submit)="onSubmit($event)">
                        <div class="mb-3">
                            <label for="newPassword" class="form-label">Enter Master Password</label>
                            <input type="password" class="form-control" id="newPassword" aria-describedby="newPassword"
                                formControlName="password" required>
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    @if (errorMessage()) {
                    <div class="mt-3">
                        <div class="alert alert-primary" role="alert" >
                            {{errorMessage()}}
                        </div>
                    </div>
                    }
                    
                </div>
            </div>
        </div>

    </div>

</div>
