<div class="container-fluid d-flex justify-content-center align-items-center p-2 w-100" [style]="{minHeight:'300px'}">
    <div class="row">
        <div class="col-12">
            <div class=" card w-100">
                <div class="card-tittle">
                    @if (errorMessage()) {
                    <div class="mt-3">
                        <div class="alert alert-primary" role="alert">
                            {{errorMessage()}}
                        </div>
                    </div>
                    }
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="d-flex  flex-row-reverse w-100">
                            <a [routerLink]="['/manager']">Back to manager</a>
                        </div>
                    </div>
                    <hr>
                    <form [formGroup]="editPasswordForm" (submit)="onSubmit($event)">
                        <div class="row">
                            <div class="mb-3" class="col-sm-12 col-md-6 col-lg-2">
                                <label for="name" class="form-label">Site name*</label>
                                <input type="text" class="form-control" id="name"
                                    aria-describedby="name" formControlName="name" required>
                            </div>
                            <div class="mb-3" class="col-sm-12 col-md-6 col-lg-2">
                                <label for="username" class="form-label">Username*</label>
                                <input type="text" class="form-control" id="username"
                                    aria-describedby="username" formControlName="username" required>
                            </div>
                            <div class="mb-3" class="col-sm-12 col-md-6 col-lg-2">
                                <label for="password" class="form-label">Password*</label>
                                <input type="{{passworldField()}}" class="form-control" id="password"
                                    aria-describedby="password" formControlName="password" required>
                                    <button type="button" class="btn btn-info" (click)="togglePassword()">{{passworldField()==="password"?"Show":"Hide"}}</button>
                            </div>
                            <div class="mb-3" class="col-sm-12 col-md-6 col-lg-2">
                                <label for="notes" class="form-label">Notes</label>
                                <input type="text" class="form-control" id="notes"
                                    aria-describedby="notes" formControlName="notes" >
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                        
                    </form>
                </div>


            </div>
        </div>
    </div>

</div>

<app-screen-loader [loading]="loading()"></app-screen-loader>