<div class="container-fluid d-flex justify-content-center align-items-center p-2 " [style]="{minHeight:'300px'}">
    <div class="row">
        <div class="col-12">
            <div class=" card">
                <div class="card-body">
                    <form [formGroup]="newPasswordForm" (submit)="onSubmit($event)">
                        <div class="mb-3">
                            <label for="newPassword" class="form-label">New password for saver</label>
                            <input type="password" class="form-control" id="newPassword" aria-describedby="newPassword"
                                formControlName="newPassword" required="">
                        </div>
                        <div class="mb-3">
                            <label for="reTypedPassword" class="form-label">ReType password</label>
                            <input type="password" class="form-control" id="reTypedPassword"
                                aria-describedby="reTypedPassword" formControlName="retypedPassWord" required="">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    @if (errorMessage) {
                    <div class="alert alert-primary" role="alert" >
                        {{errorMessage}}
                    </div>
                    }
                    @if (successMessage) {
                    <div class="alert alert-success" role="alert">
                        {{successMessage}}

                    </div>
                    }
                </div>
            </div>
        </div>

    </div>

</div>